/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

/* Container Styling */
.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fafafa ;
}

/* Profile Header Section */

.profile {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.profile-image {
    width: 300px;
    height: 300px;
    border: 10px solid #27774c;
    border-radius: 50% ;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
}

.profile-user-settings {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: min-content;
}

.profile-user-name {
    font-size: 50px;
    font-weight: lighter;
    margin-right: 20px;
}

.profile-edit-btn, .profile-settings-btn{
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

.profile-edit-btn{
    font-size: 20px;
    margin-top: 59px;
    margin-right: 0px;
    border: 2px solid #262626;
    height: fit-content;
    padding: 2px;

}

.profile-settings-btn{
    font-size: 30px;
    margin-top: 9px;
    margin-left: 5px;
}

.profile-stats, .profile-stats li {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

.profile-bio{
    font-size: 23px;
    margin-left: 220px;
}

.profile-real-name {
    font-weight: bold;
}
/* Gallery Styling */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.gallery-item {
    width: 300px;
    height: 400px;
    margin: 7px;
    box-shadow: 0 2px 4px rgb(7, 7, 7) ;
    cursor: pointer;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.gallery-item:hover{
    box-shadow: 
    -17px -17px 20px 0px #262626,
    17px 17px 20px 0px #262626;
}

/* Dynamic Loading Wheel */

.loader{
    width: 40px;
    height: 40px;
    border: 4px solid hsl(0, 84%, 58%);
    border-radius: 50%;
    border-top: 4px solid hsl(0, 18%, 30%);
    animation:spin 1s linear infinite;
    margin: 50px auto;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }   
}